.textItensService{
    color: #000;
    font-weight: 400;
    border: 1px solid #000;
    padding: .3rem 1rem;
    border-radius: 30px;
    box-shadow: 0px 0px 6px -1px #fff;
    background-color: #fff;
    text-align: center;
}